<a href="https://colab.research.google.com/github/alswns3760/colab/blob/main/Lession_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def plus(v1, v2) :

    result = 0
    result = v1 + v2

    return result

hap = 0

hap = plus(100,200)
print("100과 200의 plus()함수 결과는 ",hap)

100과 200의 plus()함수 결과는  300

In [2]:
def calc(op, num1, num2 ) :
  if op == "+":
    return num1+num2
  elif op == "-":
    return num1+num2
  elif op == "*":
    return num1*num2
  elif op == "/":
    return num1/num2

op = input("계산 입력 (+,-,*,/) : ")
num1 = int(input("첫 번째 숫자 입력 : "))
num2 = int(input("두 번째 숫자 입력 : "))

print("## 계산기 : ",num1,op,num2,"=",calc(op,num1,num2))

계산 입력 (+,-,*,/) : +
첫 번째 숫자 입력 : 133
두 번째 숫자 입력 : 44
## 계산기 :  133 + 44 = 177

In [16]:
import random

lotto_num=[]
 
def lotto() :
  rnd = random.randint(1,45)
  return rnd

while True :
  rnd = lotto()
  if rnd in lotto_num :
    pass
  else :
    lotto_num.append(lotto())

  if len(lotto_num) == 6 :
    break

print(lotto_num)

[25, 28, 20, 3, 23, 27]

In [18]:
from datetime import date
from datetime import datetime
from datetime import timedelta

now = datetime.now()
after = timedelta(days=100)

print("현재 날짜와 시간 ==>",now)
print("100일 후 날짜와 시간 ==>",now + after)

현재 날짜와 시간 ==> 2022-10-07 06:19:07.821362
100일 후 날짜와 시간 ==> 2023-01-15 06:19:07.821362

In [20]:
from datetime import datetime

now = datetime.now()
birth = datetime(2004,5,1)

food = (now - birth)
food = str(food).split(" ")
food = int(food[0])
print("지금까지 식비는 ", food*3*5000,"원")

print(now - birth)

지금까지 식비는  100995000 원
6733 days, 6:28:47.610791